[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=5.1"
mypy = ">=0.720"
yapf = ">=0.28"
pytest-cov = "*"

[packages]
kitipy = {path = ".",editable = true}
container-transform = {editable = true,git = "https://github.com/akerouanton/container-transform.git",ref = "integration"}
boto3-stubs = {extras = ["cloudfront", "ecr", "ecs", "secretsmanager"],version = "==1.26.62"}

[requires]
python_version = "3.8"
